@charset "utf-8";

/*******************************
	Name			: docs.css
	Description		: Reset STYLE CSS
	Writer			: I-UI팀
	Create Date		: 2017-02-06
	Modify Date		: 2017-04-26(수정시 직접 변경)
	Modification	: KMS (수정시 직접 변경)
*******************************/

/* 
	* RESET CSS
*/
html {
	font-size:14px;
}
body {
	font:300 1rem/1.5 Lato, "맑은 고딕", "Malgun Gothic", "PT Sans", sans-serif;	
}
h1, h2, h3, h4 {
  margin: 0 0 .5rem;
  font-weight: normal;
  line-height: 1;
  color: #2a2a2a;
  letter-spacing: -.05em;
}
h1 {font-size:3rem;}
h2 {font-size:2.5rem;} 
h3 {font-size:1.75rem;}
h4 {font-size:1.25rem;}

/* link color */
a.redtxt {color:#f00;}
a.redtxt:hover {color:#dc1919;}

@media (min-width:768px) {
	html {
		font-size:16px;
	}
}

.mgt10 {margin-top:10px;}
.mgt20 {margin-top:20px;}
.mgt25 {margin-top:25px;}
.mgt30 {margin-top:30px;}
.mgt40 {margin-top:40px;}
.mgt50 {margin-top:50px;}
